* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    font-family: sans-serif;
}
body.Dark {
    background-color: #121212;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px gray;
    width: 100%;
    max-width: fit-content;
    position: relative;
   

}

body.Dark .container {
    background-color: #1a1a1a;
    box-shadow: 0 5px 5px #BBD5ED;
}
.screen {
    display: none;
    padding: 1rem;
    text-align: center;
}

.screen.active {
    display: block;
}

#start-Screen {
    background-color: rgb(253, 253, 203);
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5px;
    border-radius: 10px;
}

h1 {
    font-size: 1.5rem;
}

#note {
    font-size: 1.1rem;
    padding: 20px;

}

button {
    font-size: 1.5rem;
    background-color: #fce3c8;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;
    color: rgb(233, 198, 153);
}

button:hover {
    background-color: #f1b16e;
    color: white;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    padding-right: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 5px grey;
}

body.Dark #nav-bar {
    background-color: #1a1a1a;
    color: white;
    box-shadow: 2px 5px 5px #BBD5ED;
}


#logo {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

#sections {
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 0.865rem;
    cursor: pointer;
    color: rgb(84, 84, 84);
}

body.Dark #sections {
    color: rgb(216, 215, 215);
}

.li {
    display: flex;
    text-decoration: none;
    color: rgb(101, 101, 101);

}

.li:hover {
    color: rgb(155, 155, 155);
    transform: scale(1.2);
    transition: color 0.5s ease, transform 0.2s ease;
}

body.Dark .li {
    color: rgb(216, 215, 215);
}


i {
    color: black;
    font-size: 1.5rem;
}

body.Dark i {
    color: white;
}

#about-section {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
    background-color: rgb(255, 255, 206);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 10px 10px grey;
}

body.Dark #about-section {
    background-color: #1e1e1e;
    color: white;
    box-shadow: 5px 10px 10px #BBD5ED;
}


#About-Me {
    padding: 12px;
    font-size: 1.4rem;
    margin-top: 5%;
}



.Img {
    border-radius: 5rem;
    border: 1.1px solid black;
    padding: 10px;
     box-shadow: white;
}

#skill-section {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 
}

body.Dark #skill-section {
    color: white;
}
#skill-head{
    margin: 10px;
}

#skill-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
    background-color: #fce3c8;
    padding: 1rem;
    margin: 40px auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px 10px grey;
}

body.Dark #skill-list {
    background-color: #2a2a2a;
    box-shadow: 5px 10px 10px #BBD5ED;
}



.Image {
    width: 300px;
    height: 200px;
}
.Image:hover{
    transform: scale(0.869);
    transition: transform 0.5s ease;
}

#Education-Section {
    display: flex;
    margin-top: 3rem;
    padding: 10px;
    background-color: rgb(253, 238, 220);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 10px grey;
}

body.Dark #Education-Section {
    background-color: #1e1e1e;
    color: white;
    box-shadow: 5px 10px 10px #BBD5ED;
}

#e-head {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 50px;
    box-sizing: border-box;
}

#education-list {
    list-style-type: none;
    display: flex;
    margin: 40px auto;
}

#MyWorks {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    padding: 2px;
    background-color: rgb(253, 238, 220);
    border: 1px solid black;
    box-shadow: 5px 10px 10px grey;
    border-radius: 10px;
}

body.Dark #MyWorks {
    background-color: #1e1e1e;
    color: white;
    box-shadow: 5px 10px 10px #BBD5ED;
}

#head {
display: flex;
width: 50%;
padding: 1rem;
}

#my-work {
    display: inline-flex;
    margin: 1rem;
    gap: 50px;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 20px;
    margin: 20px auto;
    text-decoration: none;
     color: #FFEEDB;
    border: 3px solid rgb(139, 138, 138);
   background-color: #f1b067;
    border-radius: 5px;
    padding: 2rem;
}

body.Dark .projects {
    background-color: #2a2a2a;
    color: white;
    border-color: #BBD5ED;
}

a:hover {
    transform: scale(1.11);
    transition: transform 0.2s ease;
}

#Main-Screen {
    background-color: blanchedalmond;
}

.hover-effect {
    color: white;
}


#contact{
    display: flex;
     justify-content: start;
    align-items: start;
    text-align: start;
   padding: 2rem;
    width: 100%;
    background-color: rgb(253, 238, 220);
    border: 1px solid black;
    box-shadow: 5px 10px 10px grey;
    border-radius: 10px;
   margin-top: 2rem;

}

body.Dark #contact{
     background-color: #2a2a2a;
    color: white;
    border-color: #BBD5ED;
    box-shadow: 0 5px 5px #BBD5ED;
}

#contact-head{
    display: flex;
    text-align: start;
    padding: 2rem;
}

form{
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 50%;
}

input{
    text-align: center;
    height: 2rem;
}

#submit{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    background-color: #2a2a2a;
    color: antiquewhite;
}


/* ================= MOBILE RESPONSIVE ================= */

@media (max-width: 768px) {

    body {
        padding: 10px;
        flex-direction: column;
    }

    .container {
        width: 100%;
        max-width: 100%;
    }

    #nav-bar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: start;
    }

    #sections {
        flex-direction: ro;
        gap: 20px;
        font-size: 1rem;
    }

    #about-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    #About-Me {
        font-size: 1rem;
        margin-top: 0;
    }

    .Img {
        width: 200px;
        height: auto;
    }

    #skill-section {
        flex-direction: column;
        align-items: center;
    }

    #skill-list {
        flex-direction: column;
        margin-left: 0;
        gap: 15px;
    }


    .Image {
        width: 100%;
        height: auto;
    }

    #Education-Section {
        flex-direction: column;
        text-align: center;
    }

    #education-list {
        flex-direction: column;
        margin-top: 1rem;
        gap: 20px;
    }

    #MyWorks {
        flex-direction: column;
        text-align: center;
    }

    #my-work {
        flex-direction: column;
        margin-top: 1rem;
        gap: 20px;
    }

    a {
        width: 100%;
        margin-left: 0;
    }

    #head,
    #e-head {
        width: 100%;
        text-align: center;
    }

    #submit{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: #2a2a2a;
    color: antiquewhite;
}
}





body.Dark #Main-Screen {
    background-color: #001514;
}
















